In [ ]:
#1
def plusMinus(arr):
    n=p=z=0
    for ar in arr:
        if ar < 0:
            n += 1
        elif ar == 0:
            z += 1
        else:
            p += 1
            
    rn = n/len(arr)
    rz = z/len(arr)
    rp = p/len(arr)    
    
    return rp, rn, rz
 
plusMinus([5,-1,0,-2,-6, 6])

(0.3333333333333333, 0.5, 0.16666666666666666)

In [ ]:
#2
arr = [10,11,9]
arr.sort()
arr

[9, 10, 11]

In [ ]:
#3
n = int(input())
arr = []
for i in range(n):
  ar = list(input())
  arr = arr + ar

arr.sort()
ar1 = []
for i in range(len(arr)):
  if arr[i] != arr[len(arr)-1]:
    ar1 = ar.append(arr[i])
print("runner up is:",ar[len(ar)-1])

4
3
5
8
7
runner up is: 7

In [ ]:
#4
def gradingStudents(grades):
    # Write your code here
    ar = []
  
    for gd in grades:
      if gd >= 38 and gd % 5 >= 3:
          gd = gd + (5-gd % 5)
      ar.append(gd)
    return ar      

grades = [40, 46, 89, 77, 56, 93, 84, 65]
gradingStudents(grades)

[40, 46, 90, 77, 56, 95, 85, 65]

# **#Example: For positive numbers**

In [ ]:
#5
# Python Program to calculate the square root

# Note: change this value for a different result
num = 8 

# To take the input from the user
#num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

In [ ]:
#6

# Python program to swap two variables

x = 5
y = 10

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

In [ ]:
#7

# Program to generate a random number between 0 and 9

# importing the random module
import random

print(random.randint(0,9))

In [ ]:
#8

# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 5
5.00 kilometers is equal to 3.11 miles

In [ ]:
#9

# Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
celsius = 37.5

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [ ]:
#10

# Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
celsius = 37.5

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [ ]:
#11

#Find odd no. or even no.
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 78
Positive number

In [ ]:
#12

# Python program to check if year is a leap year or not

year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

2000 is a leap year

In [ ]:
#13

# Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [ ]:
#14

# Program to check if a number is prime or not

num = 407

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

In [ ]:
#15

# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
#16

# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [ ]:
#17

# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
#18

# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 4
Fibonacci sequence:
0
1
1
2

In [ ]:
#19
 
# Python program to check if the number is an Armstrong number or not
 
# take input from the user
num = int(input("Enter a number: "))
 
# initialize sum
sum = 0
 
# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
 
# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 9
9 is not an Armstrong number

In [ ]:
#20
 
# Program to check Armstrong numbers in a certain interval
 
lower = 100
upper = 2000
 
for num in range(lower, upper + 1):
 
   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0
 
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
 
   if num == sum:
       print(num)

153
370
371
407
1634

In [ ]:
#21

# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

In [ ]:
#22

# Display the powers of 2 using anonymous function

terms = 10

# Uncomment code below to take input from the user
# terms = int(input("How many terms? "))

# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))

print("The total terms are:",terms)
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

The total terms are: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [ ]:
#23

# Take a list of numbers
my_list = [12, 65, 54, 39, 102, 339, 221,]

# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))

# display the result
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

In [ ]:
#24

# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [ ]:
#25

# Program to find the ASCII value of the given character

c = 'p'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'p' is 112

In [ ]:
#26

# Python program to find H.C.F of two numbers

# define a function
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 6

In [ ]:
#27

# Python Program to find the L.C.M. of two input number

def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = 54
num2 = 24

print("The L.C.M. is", compute_lcm(num1, num2))

The L.C.M. is 216

In [ ]:
#28

# Python Program to find the factors of a number

# This function computes the factor of the argument passed
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

num = 320

print_factors(num)

The factors of 320 are:
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [ ]:
#29

# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # Check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 3
Enter second number: 887766
3.0 + 887766.0 = 887769.0

In [ ]:
#30

# Python program to shuffle a deck of card

# importing modules
import itertools, random

# make a deck of cards
deck = list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))

# shuffle the cards
random.shuffle(deck)

# draw five cards
print("You got:")
for i in range(5):
   print(deck[i][0], "of", deck[i][1])

You got:
5 of Diamond
12 of Heart
9 of Spade
5 of Heart
10 of Club

In [ ]:
#31

# Program to display calendar of the given month and year

# importing calendar module
import calendar

yy = 2014  # year
mm = 11    # month

# To take month and year input from the user
# yy = int(input("Enter year: "))
# mm = int(input("Enter month: "))

# display the calendar
print(calendar.month(yy, mm))

   November 2014
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [ ]:
#32

# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
#33

# Python program to find the sum of natural using recursive function

def recur_sum(n):
   if n <= 1:
       return n
   else:
       return n + recur_sum(n-1)

# change this value for a different result
num = 16

if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",recur_sum(num))

The sum is 136

In [ ]:
#34

# Factorial of a number using recursion

def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = 7

# check if the number is negative
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

The factorial of 7 is 5040

In [ ]:
#35

# Function to print binary number using recursion
def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

# decimal number
dec = 34

convertToBinary(dec)
print()

100010

In [ ]:
#36

# Program to add two matrices using nested loop

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#37

# Program to transpose a matrix using a nested loop

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

In [ ]:
#38

# Program to multiply two matrices using nested loops

# 3x3 matrix
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
# 3x4 matrix
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
# result is 3x4
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [ ]:
#39

# Program to check if a string is palindrome or not

my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
#40

# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said ---and went."

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

Hello he said and went

In [ ]:
#41

# Program to sort alphabetically the words form a string provided by the user

my_str = "Hello this Is an Example With cased letters"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = [word.lower() for word in my_str.split()]

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
an
cased
example
hello
is
letters
this
with

In [ ]:
#42

# Program to count the number of each vowels

# string of vowels
vowels = 'aeiou'

ip_str = 'Hello, have you tried our tutorial section yet?'

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()

# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in ip_str:
   if char in count:
       count[char] += 1

print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

In [ ]:
#43

# Python3 code to find largest prime 
# factor of number 
import math 

# A function to find largest prime factor 
def maxPrimeFactors (n): 
	
	# Initialize the maximum prime factor 
	# variable with the lowest one 
	maxPrime = -1
	
	# Print the number of 2s that divide n 
	while n % 2 == 0: 
		maxPrime = 2
		n >>= 1	 # equivalent to n /= 2 
		
	# n must be odd at this point, 
	# thus skip the even numbers and 
	# iterate only for odd integers 
	for i in range(3, int(math.sqrt(n)) + 1, 2): 
		while n % i == 0: 
			maxPrime = i 
			n = n / i 
	
	# This condition is to handle the 
	# case when n is a prime number 
	# greater than 2 
	if n > 2: 
		maxPrime = n 
	
	return int(maxPrime) 

# Driver code to test above function 
n = 15
print(maxPrimeFactors(n)) 

n = 25698751364526
print(maxPrimeFactors(n))

5
328513

In [ ]:
#44

# Python 3 program to
# compute sum of digits in
# number.

# Function to get sum of digits


def getSum(n):

	sum = 0
	while (n != 0):

		sum = sum + int(n % 10)
		n = int(n/10)

	return sum

# Driver code
n = 687
print(getSum(n))

21

In [ ]:
#45

# function which return reverse of a string
 
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#46

# Python 3 program to count frequencies 
# of array items 
def countFreq(arr, n): 
	
	# Mark all array elements as not visited 
	visited = [False for i in range(n)] 

	# Traverse through array elements 
	# and count frequencies 
	for i in range(n): 
		
		# Skip this element if already 
		# processed 
		if (visited[i] == True): 
			continue

		# Count frequency 
		count = 1
		for j in range(i + 1, n, 1): 
			if (arr[i] == arr[j]): 
				visited[j] = True
				count += 1
		
		print(arr[i], count) 

# Driver Code 
if __name__ == '__main__': 
	arr = [10, 20, 20, 10, 10, 20, 5, 20] 
	n = len(arr) 
	countFreq(arr, n)

10 3
20 4
5 1

Given an array of integers of size ‘n’.
Our aim is to calculate the maximum sum of ‘k’ 
consecutive elements in the array.

Input  : arr[] = {100, 200, 300, 400}
         k = 2
Output : 700

Input  : arr[] = {1, 4, 2, 10, 23, 3, 1, 0, 20}
         k = 4 
Output : 39
We get maximum sum by adding subarray {4, 2, 10, 23}
of size 4.

Input  : arr[] = {2, 3}
         k = 3
Output : Invalid
There is no subarray of size 3 as size of whole
array is 2.

In [ ]:
#47

# code
import sys
print("GFG")
# O(n * k) solution for finding
# maximum sum of a subarray of size k
INT_MIN = -sys.maxsize - 1

# Returns maximum sum in a
# subarray of size k.


def maxSum(arr, n, k):

	# Initialize result
	max_sum = INT_MIN

	# Consider all blocks
	# starting with i.
	for i in range(n - k + 1):
		current_sum = 0
		for j in range(k):
			current_sum = current_sum + arr[i + j]

		# Update result if required.
		max_sum = max(current_sum, max_sum)

	return max_sum


# Driver code
arr = [1, 4, 2, 10, 2,
	3, 1, 0, 20]
k = 4
n = len(arr)
print(maxSum(arr, n, k))

GFG
24

In [ ]:
#48

# Python 3 program to
# check the number is
# divisible by all 
# digits are not.
 

def checkDivisibility(n, digit) :
     
    # If the digit divides the
    # number then return true
    # else return false.
    return (digit != 0 and n % digit == 0)
     
# Function to check if
# all digits of n divide
# it or not
def allDigitsDivide( n) :
     
    temp = n
    while (temp > 0) :
         
        # Taking the digit of
        # the number into digit
        # var.
        digit = temp % 10
        if ((checkDivisibility(n, digit)) == False) :
            return False
 
        temp = temp // 10
     
    return True
 
# Driver function
n = 128
 
if (allDigitsDivide(n)) :
    print("Yes")
else :
    print("No" )

Yes

In [ ]:
#49

# Python code to find smallest K-digit 
# number divisible by X 

def answer(X, K): 
	
	# Computing MAX 
	MIN = pow(10, K-1) 
	
	if(MIN%X == 0): 
		return (MIN) 
	
	else: 
		return ((MIN + X) - ((MIN + X) % X)) 
	

X = 83; 
K = 5; 

print(answer(X, K))

10043

# **Lists**

In [ ]:
#50

# Python program to find sum of elements in list
total = 0

# creating a list
list1 = [11, 5, 17, 18, 23] 

# Iterate each element in list
# and add them in variale total
for ele in range(0, len(list1)):
	total = total + list1[ele]

# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
#51

# Python program to find smallest 
# number in a list

# list of numbers
list1 = [10, 20, 4, 45, 99]

# sorting the list
list1.sort()

# printing the first element
print("Smallest element is:", *list1[:1])

Smallest element is: 4

In [ ]:
#52

# Python program to find smallest 
# number in a list

# list of numbers
list1 = [10, 20, 1, 45, 99]


# printing the maximum element
print("Smallest element is:", min(list1))

Smallest element is: 1

In [ ]:
#53

# Python program to find N largest 
# element from given list of integers 
  
# Function returns N largest elements 
def Nmaxelements(list1, N): 
    final_list = [] 
  
    for i in range(0, N):  
        max1 = 0
          
        for j in range(len(list1)):      
            if list1[j] > max1: 
                max1 = list1[j]; 
                  
        list1.remove(max1); 
        final_list.append(max1) 
          
    print(final_list) 
  
# Driver code 
list1 = [2, 6, 41, 85, 0, 3, 7, 6, 10] 
N = 2
  
# Calling the function 
Nmaxelements(list1, N)

[85, 41]

In [ ]:
#54

# Python program to remove multiple 
# elements from a list 

# creating a list 
list1 = [11, 5, 17, 18, 23, 50] 

# Iterate each element in list 
# and add them in variale total 
for ele in list1: 
	if ele % 2 == 0: 
		list1.remove(ele) 

# printing modified list 
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]

In [ ]:
#55

# Python program to print 
# duplicates from a list 
# of integers 
def Repeat(x): 
	_size = len(x) 
	repeated = [] 
	for i in range(_size): 
		k = i + 1
		for j in range(k, _size): 
			if x[i] == x[j] and x[i] not in repeated: 
				repeated.append(x[i]) 
	return repeated 

# Driver Code 
list1 = [10, 20, 30, 20, 20, 30, 40, 
		50, -20, 60, 60, -20, -20] 
print (Repeat(list1)) 
	
# This code is contributed 
# by Sandeep_anand

[20, 30, -20, 60]

In [ ]:
#56
 
# Python program to sort 
# one list using
# the other list
def sorting_of_element(list1,list2):
 
    # initializing blank dictionary
    f_1 = {} 
    
    # initializing blank list
    final_list = [] 
    
    # Addition of two list in one dictionary
    f_1 = {list1[i]: list2[i] for i in range(len(list2))} 
    
    # sorting of dictionary based on value
    f_lst = {k: v for k, v in sorted(f_1.items(), key=lambda item: item[1])}
    
    # Element addition in the list
    for i in f_lst.keys():
        final_list.append(i)
    return final_list
        
list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
list2 = [ 0, 1, 1, 0, 1, 2, 2, 0, 1]
 
 
sorting_of_element(list1,list2)

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

In [ ]:
#57

# Python program to print positive Numbers in given range 

start, end = -4, 19

# iterating each number in list 
for num in range(start, end + 1): 
	
	# checking condition 
	if num >= 0: 
		print(num, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

# **Sorting algos**

In [ ]:
#58

# Python program for implementation of Quicksort Sort 




def partition(arr, low, high): 
	i = (low-1)		 # index of smaller element 
	pivot = arr[high]	 # pivot 

	for j in range(low, high): 

		# If current element is smaller than or 
		# equal to pivot 
		if arr[j] <= pivot: 

			# increment index of smaller element 
			i = i+1
			arr[i], arr[j] = arr[j], arr[i] 

	arr[i+1], arr[high] = arr[high], arr[i+1] 
	return (i+1) 

# The main function that implements QuickSort 


# Function to do Quick sort 


def quickSort(arr, low, high): 
	if len(arr) == 1: 
		return arr 
	if low < high: 

		# pi is partitioning index, arr[p] is now 
		# at right place 
		pi = partition(arr, low, high) 

		# Separately sort elements before 
		# partition and after partition 
		quickSort(arr, low, pi-1) 
		quickSort(arr, pi+1, high) 


# Driver code to test above 
arr = [10, 7, 8, 9, 1, 5] 
n = len(arr) 
quickSort(arr, 0, n-1) 
print("Sorted array is:") 
for i in range(n): 
	print("%d" % arr[i]),

Sorted array is:
1
5
7
8
9
10

In [ ]:
#59

# Python program for implementation of MergeSort 


def merge(arr, l, m, r): 
	n1 = m - l + 1
	n2 = r- m 

	# create temp arrays 
	L = [0] * (n1) 
	R = [0] * (n2) 

	# Copy data to temp arrays L[] and R[] 
	for i in range(0 , n1): 
		L[i] = arr[l + i] 

	for j in range(0 , n2): 
		R[j] = arr[m + 1 + j] 


	i = 0	 # Initial index of first subarray 
	j = 0	 # Initial index of second subarray 
	k = l	 # Initial index of merged subarray 

	while i < n1 and j < n2 : 
		if L[i] <= R[j]: 
			arr[k] = L[i] 
			i += 1
		else: 
			arr[k] = R[j] 
			j += 1
		k += 1


	while i < n1: 
		arr[k] = L[i] 
		i += 1
		k += 1


	while j < n2: 
		arr[k] = R[j] 
		j += 1
		k += 1

# l is for left index and r is right index of the 
# sub-array of arr to be sorted 
def mergeSort(arr,l,r): 
	if l < r: 

		# Same as (l+r)//2, but avoids overflow for 
		# large l and h 
		m = (l+(r-1))//2

		# Sort first and second halves 
		mergeSort(arr, l, m) 
		mergeSort(arr, m+1, r) 
		merge(arr, l, m, r) 



arr = [12, 11, 13, 5, 6, 7] 
n = len(arr) 
print ("Given array is") 
for i in range(n): 
	print ("%d" %arr[i]), 

mergeSort(arr,0,n-1) 
print ("\n\nSorted array is") 
for i in range(n): 
	print ("%d" %arr[i]),

Given array is
12
11
13
5
6
7


Sorted array is
5
6
7
11
12
13

In [ ]:
#60

# Python program for implementation of Insertion Sort 


def insertionSort(arr): 

	
	for i in range(1, len(arr)): 

		key = arr[i] 

	 
		j = i-1
		while j >=0 and key < arr[j] : 
				arr[j+1] = arr[j] 
				j -= 1
		arr[j+1] = key 


 
arr = [12, 11, 13, 5, 6] 
insertionSort(arr) 
print ("Sorted array is:") 
for i in range(len(arr)): 
	print ("%d" %arr[i])

Sorted array is:
5
6
11
12
13

In [ ]:
#61

# Python program for implementation of Selection 
# Sort 
import sys 
A = [64, 25, 12, 22, 11] 

# Traverse through all array elements 
for i in range(len(A)): 
	
	# Find the minimum element in remaining 
	# unsorted array 
	min_idx = i 
	for j in range(i+1, len(A)): 
		if A[min_idx] > A[j]: 
			min_idx = j 
			
	 
	A[i], A[min_idx] = A[min_idx], A[i] 


print ("Sorted array") 
for i in range(len(A)): 
	print("%d" %A[i])

Sorted array
11
12
22
25
64

In [ ]:
#62

# Python program for implementation of Bubble Sort 

def bubbleSort(arr): 
	n = len(arr) 

	# Traverse through all array elements 
	for i in range(n-1): 
	# range(n) also work but outer loop will repeat one time more than needed. 

		# Last i elements are already in place 
		for j in range(0, n-i-1): 


			if arr[j] > arr[j+1] : 
				arr[j], arr[j+1] = arr[j+1], arr[j] 


arr = [64, 34, 25, 12, 22, 11, 90] 

bubbleSort(arr) 

print ("Sorted array is:") 
for i in range(len(arr)): 
	print ("%d" %arr[i]),

Sorted array is:
11
12
22
25
34
64
90

# **Searching algos**

In [ ]:
#63

# Python 3 program for recursive binary search.

# Returns index of x in arr if present, else -1
def binary_search(arr, low, high, x):

	# Check base case
	if high >= low:

		mid = (high + low) // 2

		# If element is present at the middle itself
		if arr[mid] == x:
			return mid

	
		elif arr[mid] > x:
			return binary_search(arr, low, mid - 1, x)

		# Else the element can only be present in right subarray
		else:
			return binary_search(arr, mid + 1, high, x)

	else:
		# Element is not present in the array
		return -1

# Test array
arr = [ 2, 3, 4, 10, 40 ]
x = 10

# Function call
result = binary_search(arr, 0, len(arr)-1, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is present at index 3

In [ ]:
#64

# Iterative Binary Search Function

def binary_search(arr, x):
	low = 0
	high = len(arr) - 1
	mid = 0

	while low <= high:

		mid = (high + low) // 2

		# If x is greater, ignore left half
		if arr[mid] < x:
			low = mid + 1

		# If x is smaller, ignore right half
		elif arr[mid] > x:
			high = mid - 1

		# means x is present at mid
		else:
			return mid

	return -1


# Test array
arr = [ 2, 3, 4, 10, 40 ]
x = 10

# Function call
result = binary_search(arr, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is present at index 3

In [ ]:
#65

# Searching an element in a list/array in python 


def search(arr, x): 

	for i in range(len(arr)): 

		if arr[i] == x: 
			return i 

	return -1

search([10,23,45], 45)

2

# **Rough**

In [ ]:
#66

class Circle():
  """
  def __init__(self):
    self.r = r
  """

  def area(self):
    r = int(input())
    area = 3.14 * r ** 2
    return area

area1 = Circle()
area1.area()

4

50.24

In [ ]:
#68

class rev():

  def getString(self):
     global str1
     str1 = input()
     return str1

  def reverse(self):
       print(str1)
       str = list(str1)
       print(str1)
       ar = list()
       for s in str1:
         if s == 'a' or s == 'e' or s == 'i' or s == 'o' or s == 'u' :
           ar.append(s)
       print("ar:",ar)
       reversed_vowels = ["u", "o", "i", "e", "a"]
       rv = []
       for r in reversed_vowels:
         for a in ar:
           if r == a:
             rv.append(a)
       return rv


R = rev()
R.getString() 
R.reverse()

ankitsrivastava
ankitsrivastava
ankitsrivastava
ar: ['a', 'i', 'i', 'a', 'a', 'a']

['i', 'i', 'a', 'a', 'a', 'a']

In [ ]:
#69

def get():
  n = int(input())
  return n

def sumofdigit():
  n1 = get()
  sum = 0
  print(n1)
  while n1 != 0:
    sum = sum + n1 % 10
    n1 = n1 // 10
  return sum  
sumofdigit()

134
134

8

In [ ]:
#70

# Python code to find frequency of each word 
def freq(str): 

	# break the string into list of words 
	str = str.split()		 
	str2 = [] 

	# loop till string values present in list str 
	for i in str:			 

		# checking for the duplicacy 
		if i not in str2: 

			# insert value in str2 
			str2.append(i) 
			
	for i in range(0, len(str2)): 

		# count the frequency of each word(present 
		# in str2) in str and print 
		print('Frequency of', str2[i], 'is :', str.count(str2[i]))	 

def main(): 
	str ='apple mango apple orange orange apple guava mango mango'
	freq(str)					 

if __name__=="__main__": 
	main()			 # call main function

Frequency of apple is : 3
Frequency of mango is : 3
Frequency of orange is : 2
Frequency of guava is : 1

In [ ]:
#71

class Employee:
  def __init__(self, name):
     self.name = name
E1=Employee("abc")
print(E1.name)

abc

In [ ]:
#72

class Dog:
    species = "Canis familiaris"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} is {self.age} years old"

    def speak(self, sound):
        return f"{self.name} says {sound}"

In [ ]:
Dog.species

'Canis familiaris'

In [ ]:
class JackRussellTerrier(Dog):
    pass

In [ ]:
miles = Dog("Miles", 4)
miles.speak("bhau")

'Miles says bhau'

In [ ]:
#73

class ik:
  def __init__(self,i):
    self.i = i
    self.str = []
    

  def get(self):
     for j in range(0,self.i):
       st = int(input())
       self.str.append(st)
     return self.str

  def invertList(self): 
   self.str = [self.str[n] for n in range(len(self.str)-1,-1,-1)]
   return self.str

a = ik(5)

a.get()
a.invertList()

3
4
3
2
1

[1, 2, 3, 4, 3]

In [ ]:
#74

class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()
    
    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

jswbjbjusw
JSWBJBJUSW

In [ ]:
#75

class Class_1:
    def __init__(self, str_):
        self.str_ = str_

    def getString(self):
        print("Enter string:")
        self.str_ = input()
        return

    def printString(self):
        return print(self.str_)

x = Class_1("Salom, Doston")
x.printString()
x.getString()

Salom, Doston
Enter string:
ankit

In [ ]:
#76

# Reversing a list using slicing technique 
def Reverse(lst): 
	new_lst = lst[::-1] 
	return new_lst 
	
lst = [10, 11, 12, 13, 14, 15] 
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [ ]:
#77

score_list = {}
s = list()
for _ in range(int(input())):
    name = input()
    score = float(input())
    if score in score_list:
       score_list[score].append(name)
    else:
       score_list[score] = [name]
    if score not in s:
       s.append(score)   
           
m = min(s)       
s.remove(m)
m1 = min(s)
score_list[m1].sort()
for i in score_list[m1]:
    print(i)

5
ankit
20
srivastava
30
ankit
30
ankit1
40
srivastava1
30
ankit
srivastava
srivastava1

In [ ]:

n = int(input())

scores = list(map(int, input().rstrip().split()))


def breakingRecords(scores):
    mincount = maxcount = 0
    maxscore = minscore = scores[0]
    
    for i in range(1, len(scores)):
        if minscore > scores[i]:
            minscore = scores[i]
            mincount += 1
        elif maxscore < scores[i]:
            maxscore = scores[i]
            maxcount += 1
    return (maxcount, mincount)  

result = breakingRecords(scores)               
result

4
10 20 30 40

(3, 0)

In [ ]:
# Python program to find sum of
# digits of a number until
# sum becomes single digit.
import math 


def digSum( n):
	sum = 0
	
	while(n > 0 or sum > 9):
	
		if(n == 0):
			n = sum
			sum = 0
		
		sum += n % 10
		n /= 10
	
	return sum

# Driver method
n = 1234
print (digSum(n))

In [ ]:
def digSum(n):

	if (n == 0):
		return 0
	if (n % 9 == 0):
		return 9
	else:
		(n % 9)

# Driver program to test the above function
n = 9999
print(digSum(n))

9